* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
--index: calc(1vw + 1vh)
}

body {
    background-color: rgb(27, 27, 27);
    color: white;
    line-height: 1.5;
}

.main_header {
    position: relative;
}



.layers {
    position: relative;
    height: 100vh;
    display: flex;
    overflow: hidden;
    text-decoration: none;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;;
}

.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
    z-index: 2;
}

.layers__header {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 1.8), 0);
    will-change: transform;
    width:70%;
    font-size: calc(var(--index) * 1.2);
    box-shadow: 10px 6px rgba(255, 255, 255, 0.2);
    background-color: rgba(217, 217, 217, 0.1);
    margin-top: calc(var(--index) * 5);
    margin-left: calc(var(--index) * 15);
    height: calc(var(--index) * 8);
    text-shadow: 0px 0px 25px rg8b(123, 98, 176);
    
}

.layers__title a {
    text-decoration: none;
    font-size: calc(var(--index) * 0.9);
    color: white;
    
}

.main_header::after {
    content:'';
    position: absolute;
    z-index: 300;
    width:100%;
    height: 800px;
    background-image: url(../img/border.png);
    bottom: -180px;
    background-size:cover;

}

.main-article {
    margin-top: 100px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.monsoon-page {
    margin-top: 100px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.lego-house {
    margin-top: 100px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.because {
    margin-top: 100px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}



