
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--index: calc(1vw + 1vh)
}

body {
    background-color: rgb(27, 27, 27);
    color: white;
    line-height: 1.5;
}

.main_header {
    position: relative;
}



.layers {
    position: relative;
    min-height: 120vh;
    display: flex;
    overflow: hidden;
    text-decoration: none;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;;
}

.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
    z-index: 2;
}

.layers__header {
    z-index: 1000;
    transform: translate3d(0, calc(var(--scrollTop) / 1.8), 0);
    will-change: transform;
    width:70%;
    font-size: calc(var(--index) * 1.2);
    box-shadow: 10px 6px rgba(255, 255, 255, 0.2);
    background-color: rgba(217, 217, 217, 0.1);
    margin-top: calc(var(--index) * 5);
    margin-left: calc(var(--index) * 15);
    height: calc(var(--index) * 8);
    text-shadow: 0px 0px 25px rg8b(123, 98, 176);
    padding: 10px 10px;
    position: relative;
    
}

.coldplay_song_title a {
    text-decoration: none;
    font-size: calc(var(--index) * 0.9);
    color: white;
    
}

.main_header::after {
    content: '';
    position: absolute;
    z-index: 300;
    width:100%;
    height: calc(var(--index) * 100);
    background-image: url(../img/border.png);
    bottom: calc(var(--index) * (-13));
    background-size:cover;

}


.main-article {
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

.main-article_content {
    z-index: 1000;
    position: relative;
    transform: translate3d(0, calc(var(--scrollTop) / 4), 0);
    will-change: transform;
    width:70%;
    font-size: calc(var(--index) * 1.2);
    box-shadow: 10px 6px rgba(255, 255, 255, 0.2);
    background-color: rgba(217, 217, 217, 0.1);
    margin-top: calc(var(--index) * 0.5);
    margin-left: calc(var(--index) * 15);
    height: calc(var(--index) * 8);
    text-shadow: 0px 0px 25px rg8b(123, 98, 176);
    padding: 10px 10px;
}

.main-article_content a {
    text-decoration: none;
    color: white;
    font-size: calc(var(--index) * 0.9);
}

.main-article::after {
    content: '';
    position: absolute;
    z-index: 500;
    width:100%;
    height: calc(var(--index) * 50);
    background-image: url(../img/border_2.png);
    bottom: calc(var(--index) * (-14));
    background-size:cover;

}

.lego-house {
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

.lego-house_content {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
    will-change: transform;
    width:40%;
    font-size: calc(var(--index) * 1.2);
    box-shadow: 10px 6px rgba(255, 255, 255, 0.4);
    background-color: rgba(217, 217, 217, 0.4);
    margin-top: calc(var(--index) * 5);
    margin-left: calc(var(--index) * 5);
    height: calc(var(--index) * 10);
    padding: 10px 10px;
    text-shadow: 0px 0px 25px rg8b(123, 98, 176);
}

.lego-house_content a{
    text-decoration: none;
    color: white;
    font-size: calc(var(--index) * 0.9);
}

.monsoon_layers {
    min-height: 120vh;
    display: flex;
    position: relative;
    text-decoration: none;
}

.layer monsoon-page {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.layer monsoon-front {
    transform: translate3d(0, calc(var(--scrollTop) / 15), 0);
    z-index: 2;
}

.monsoon-page_content {
    z-index: 1000;
    transform: translate3d(0, calc(var(--scrollTop) / 9), 0);
    will-change: transform;
    width:30%;
    font-size: calc(var(--index) * 1.1);
    box-shadow: 10px 6px rgba(255, 255, 255, 0.2);
    background-color: rgba(217, 217, 217, 0.5);
    margin-top: calc(var(--index) / 2);
    margin-left: calc(var(--index) * 45);
    height: calc(var(--index) * 16);
    text-shadow: 0px 0px 25px rg8b(123, 98, 176);
    color:rgb(57, 68, 87);
    font-weight: bolder;
    padding: 10px 10px;
    position: relative;
}

.monsoon-page_content a {
    text-decoration: none;
    color:rgb(57, 68, 87);
    font-size: calc(var(--index) * 0.9);
}

.monsoon-page::before {
    content: '';
    position: absolute;
    z-index: 500;
    width:100%;
    height: calc(var(--index) * 20);
    background-image: url(../img/border_3.png);
    bottom:calc(var(--index) * 29);
    background-size:cover;

}

.because {
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    text-decoration: none;
}

.because_content {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 15), 0);
    will-change: transform;
    width:70%;
    font-size: calc(var(--index) * 1.2);
    box-shadow: 10px 6px rgba(255, 255, 255, 0.2);
    background-color: rgba(217, 217, 217, 0.3);
    margin-top: calc(var(--index) * 5);
    margin-left: calc(var(--index) * 15);
    height: calc(var(--index) * 8);
    text-shadow: 0px 0px 25px rg8b(123, 98, 176);
    padding: 10px 10px;
    color:rgb(57, 68, 87);
    font-weight: bolder;
}

.because_content a {
    text-decoration: none;
    color:rgb(57, 68, 87);
    font-size: calc(var(--index) * 0.9);   
}

.because::before {
    content: '';
    position: absolute;
    z-index: 500;
    width:100%;
    height: calc(var(--index) * 38);
    background-image: url(../img/border_4.png);
    bottom: calc(var(--index) * 27);
    background-size:cover;

}

.btn {
    position: absolute;
    top: calc(var(--index) * 13);
    left: calc(var(--index) * 18);
}

.btns {
    background: transparent;
    border: none;
    outline: none;
    font-size: 50px;
  
}


.copy {
    text-align: center;
    font-size: larger;
}


.main_bg {
    position: absolute;
    height: 262vh;
    width: 100%;
    background: linear-gradient(#f8d3ef,#c2dbfd, #d3f6ce);
    color: #4d4953;
    background-size: cover;
}

.letter {
    position: absolute;
    margin-top: calc(var(--index) * 2);
    margin-left: calc(var(--index) * 6);
    width: 80%;
    font-family: 'Marck Script', cursive;
}

.letter h1 {
    font-family: 'Comforter', cursive;
    color: #63577b;
    text-align: center;
    padding:calc(var(--index) * 2);
}

.num {
    position: relative;
    text-align: right;
    margin-top: calc(var(--index) * 2);
    margin-right: calc(var(--index) * 10);
    font-family: 'Comforter', cursive;
    text-shadow: 0.3px 1px #5c4c7a;
    font-size: 1.2em;

}

.video {
    position: absolute;
    margin-top: calc(var(--index) * 25);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.copy_2 {
    margin-top: calc(var(--index) * 83);
    margin-left: calc(var(--index) * 30);
    color: white;
    position: absolute;
    text-align: center;
    font-size: 0.8em;
}
